.skills--ul {
  width: 100%;
  margin: 0;
  padding: 0;
}

.skill-block {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.skills--li {
  list-style: none;
}

.skill-name__p {
  min-width: 90px;
  text-align: right;
  text-wrap: nowrap;
}

.skill-container {
  display: grid;
  grid-template-columns: 2fr 10fr;
  gap: 16px;
}

.skill-level {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}