.button-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.btn-reorder {
  animation-duration: 2s;
  animation-name: fade-in;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    display: none;
  }

  100% {
    opacity: 1;
    display: block;
  }
}
