.blog-post-container {
  gap: 16px;
}

.blog-title {
  margin: 32px 0px 16px 0px;
}

.blog-container {
  padding: 0 10%;
  gap: 16px;
}

@media screen and (max-width: 768px) {
  .blog-container {
    padding: 0 5%;
  }
}